// Animations

@keyframes fade {
    from {
        opacity: 1.0;
        // background-color: rgba(255, 0, 0, 1);
    }

    50% {
        opacity: 0;
        // background-color: rgba(255, 0, 0, 0)
    }

    to {
        opacity: 1.0;
        // background-color: rgba(255, 0, 0, 1)
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 1.0;
        // background-color: rgba(255, 0, 0,1);
    }

    50% {
        opacity: 0.5;
        // background-color: rgba(255, 0, 0,1;
    }

    to {
        opacity: 1.0;
        // background-color: rgba(255, 0, 0,1;
    }
}

.blink {
    animation: fade 1.35s infinite;
    -webkit-animation: fade 1.35s infinite;
}


// Slide in to top animation
.fly {
    opacity: 0;
    transition: all 0.6s ease-in-out;
    transform: translateY(100px) scale(1.05) translate3d(0, 0, 0);
}

.show-block {
    opacity: 1;
    transform: translateY(0) scale(1) translate3d(0, 0, 0);
}



// BOOTSTRAP OVERRIDE

// Remove bootstrap ugly outline
.btn:focus,
.btn:active,
.submit-button:focus,
.submit-button:active,
input:focus,
input:active {
    outline: none !important;
    box-shadow: none !important;
}


// SLICK JS OVERRIDE

// .slick-next {
//     right: 25px;
// }

// .slick-prev {
//     left: 15px;
//     z-index: 1;
// }

// .slick-next::before,
// .slick-prev::before {
//     color: $hcolor;
//     font-size: 30px;
// }

// SLICK SLIDER BOX SHADOW FIX
.slider-wrapper {
    width: calc(100% + 30px);
    padding: 0 15px;
    margin-left: -15px;
    overflow: hidden;
}

.slick-list {
    overflow: visible;
}

.slick-slide .drop-shadow {
    box-shadow: none;
    transition: box-shadow 0.1s ease-in-out;
}

.slick-slide.slick-active .drop-shadow {
    box-shadow: 0px 0px 43px 0px rgba(0, 0, 0, 0.35);
}

// Slick Js fontawesome arrows
.slick-arrow-left,
.slick-arrow-right {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    padding: 25px 10px;
    border-radius: 5px;
    z-index: 1;

    &:hover {
        background-color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
    }
}

.slick-arrow-right {
    right: 0;
}

// Accordion responsive fix
.accordion .btn {
    white-space: normal;
    text-align: left;
}